<div class="container spacer">
    <div class="form-group">
        <label>Mot cle</label>
        <input type="text"[(ngModel)]="motCle">&nbsp;
        <strong>Votre mot de Recherche:</strong>{{ motCle }}<br>
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
        </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des Contacts</div>
    <div class="panel body">
        <table class="table table-striped">
            <tr>
              <th>ID</th><th>Nom</th><th>Prenom</th><th>Email</th><th></th><th></th>
            </tr>
            <tr *ngFor="let c of contacts?.content">
                <td>{{ c.id }}</td>
                <td>{{ c.nom }}</td>
                <td>{{ c.prenom }}</td>
                <td>{{ c.email }}</td>
                <td>
                    <a (click)="onEditContact(c.id)" class="clickable">Edit</a>
                </td>
                <td>
                    <a (click)="onDeleteContact(c)" class="clickable">Delete</a>
                </td>
            </tr>
            </table>
            <div class="container">
                <ul class="nav nav-pills">
                    <li [ngClass]="{'active':i==currentpage}" *ngFor="let p of pages;let i=index">
                        <a class="clickable" (click)="gotoPage(i)">{{i}}</a></li>
                </ul>
            </div>
      </div>
     </div>
</div>